

  .container .card {
      margin: 5rem auto;
      border: none;
      width: 100%;
      background: none;
      color: white;
      background-color: rgb(46, 37, 37);
  }

  .card-body {
      display: flex;
     

      align-items: center;
      justify-content: space-around;
  }

  .card-body p {
      padding: 2rem;
       /* border-top: 2px solid rgb(255, 45, 45); */
  }

  .card-body h4 {
      width: 95%;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: 2px solid rgb(255, 45, 45);
  }
 
  .card-header {
      text-align: center;
  }


  .card-img-top {
      height: 150px;
      width: 150px;
      border-radius: 50%;
  }

