{% extends 'base.html' %} {% block head%}
<title>{{title}}</title>
<link rel="stylesheet" href="static/css/about.css" />
{% endblock %} {% include 'slide.html' %}{% block content %}

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="text">
        <h4 class="card-title">About Us</h4>
        <p class="card-text">
          We have qualified teachers/faculties subjectwise. All teachers are
          trained teachers certified by Jharkhand government. Teachers are very
          dedicated in wholesome development of students. Relation between
          students and teachers are very good. The entire staff strives for
          better and quality result of students in 10th board exam.
        </p>
        <p class="card-text">
          We have transport facilities & hostel facilities for remote locations
          students. We are growing day by day, currently having 25 staff members
          with 600+ students.
        </p>
        <p class="card-text">
          <span style="font-size: 20px; border-bottom: 2px dotted red"
            >Director/Principle</span
          ><br /><br />
          Mr. Neelkanth Kumar is director of Adarsh Vidya Mandir. He is founder
          of Adarsh Vidya Mandir and since beginning holding the position of
          director and principal of this school. He is holding Master degree in
          political science, LLB and Bechlor of Education. He has 20 years of
          teaching and management experience. He is well know name in basic
          education in Koderma, Jharkhand. He is one of few who is spreading the
          education in Koderma, Jharkhand. He has personal touch with all
          student's parent.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
