{% extends 'base.html' %} {% block head %}
<title>{{title}}</title>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="static/css/contact.css" />

{% endblock %}{% include 'slide.html' %} {% block content %}
<div class="container">
  <h2 class="heading">Contact Us</h2>
  <h2>We would Love to Help !</h2>
  <br /><br />
  <div class="row">
    <div class="col-md-6">
      <form action="{{url_for('contact')}}" method="POST">
        <input
          type="text"
          class="form-control"
          placeholder="Your Name"
          name="uname"
        />
        <br />
        <input
          type="Email"
          class="form-control"
          placeholder="Your Email"
          name="email"
        />
        <br />
        <input
          type="tel"
          class="form-control"
          placeholder="Your Number"
          name="phone"
        />
        <br />
        <textarea
          rows="6"
          class="form-control"
          placeholder="Your Message"
          name="mssg"
        ></textarea>
        <br />
        <center>
          <input type="submit" value="Send" class="btn btn-info" />
        </center>
      </form>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-5">
      <br />
      <p class="icn">
        <i class="fa fa-map-marker"></i> &nbsp;&nbsp; Adarsh Vidya Mandir,
      </p>
      <p class="icn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tilokari, 825109</p>
      <p class="icn"><i class="fa fa-phone"></i> &nbsp;&nbsp; 9931526318,</p>
      <p class="icn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9934337989</p>
      <p class="icn">
        <i class="fa fa-envelope"></i> &nbsp;&nbsp; ak2383977@gmail.com
      </p>
      <hr />
    </div>
  </div>
</div>
{% endblock %}
