<nav class="head">
  <img src="/static/images/logo.png" class="logo" />
  <h1>Adarsh Vidya Mandir, Tilokari</h1>
</nav>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/faculty">Faculties</a>
      </li>
      <li class="nav-item active dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Academics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/calendar">Academic Calendar</a>
          <a class="dropdown-item" href="/registration">Online Registration</a>
          <a class="dropdown-item" href="/co-curricular">Co-Curricular</a>
          <a class="dropdown-item" href="/rules">School Rule</a>
          <a class="dropdown-item" href="/account">Results and Fees</a>
        </div>
      </li>
      
      

      {% if session['username'] == "admin" %}
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      {% endif %}

      {% if 'loggedin' in session %}

      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
